// стили на скроллбар
@mixin scrollbar() {
  scrollbar-color: rgb(var(--color-primary)) transparent;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-primary));
    border-radius: 3px;
  }
}
